
.bgdiv{
  margin: 0;
  padding: 0;
  height: 70vh;
  background-image: url('./assets/bg.PNG');
  background-size: cover;
  background-position: top;
}

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  color: white;
}

.app-container {
  position: absolute; 
  z-index: 1; 
   overflow: visible;
}